.content {
  display: grid;
  grid-template-areas:
    "header header"
    "navbar todoList"
    'footer footer';
  grid-template-columns: 12rem 1fr;
  grid-template-rows: 7rem 1fr 3rem;
  width: 100%;
  height: 100%;
}
