.navbar{
  grid-area: navbar;
  display: grid;
  grid-template-rows: 50% 50%;
  .status{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    & *{
      font-weight: bold;
      width: 8rem;
      height: 2.4rem;
    }
  }

  .project{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    & *{
      font-weight: bold;
      width: 8rem;
      height: 2.4rem;
    }
    &__add{
      height: 2rem;
      font-size: 1.2rem;
      margin: 1rem auto;
    }
  }
}